@use "@blueprintjs/core/lib/scss/variables" as bp;
@use "./variables.scss" as v;

.nav-container {
  display: flex;
  flex-direction: column;
}

.nav-container__href {
  font-size: 1.3rem;
  color: bp.$pt-heading-color;
  padding: 0.75em;
  display: flex;
  align-items: center;
  height: 3rem;

  .#{bp.$ns}-dark & {
    color: bp.$pt-dark-heading-color;
  }

  &--selected {
    @extend .nav-container__href;
    background-color: bp.$light-gray1;

    .#{bp.$ns}-dark & {
      background-color: bp.$dark-gray5;
    }
  }

  &:hover {
    outline: none;
    text-decoration: none;
  }

  .href-text {
    margin-left: 1.5rem;
    white-space: nowrap;
  }
}
